# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Env files
.env
.env.*

# Build outputs
build/
dist/
coverage/

# Editor
.vscode/
.idea/

# Misc
*.local
*.cache
